{% extends 'base.html.twig' %}
{% form_theme registerForm 'bootstrap_4_layout.html.twig' %}
{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset('Styles/RegisterStykeSheet.css')}}>
{% endblock %}

{% block body %}

    <!----------------------------------------------------------------------------------------------------------------->
    <div class="container-fluid" id="grad1" style="height: 753px">
        <div class="row justify-content-center mt-0" style="margin-top: 200px" >
            <div class="col-11 col-sm-9 col-md-7 col-lg-6  p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2 class="text-center"><strong>Register To Our Family!</strong></h2>
                    <p  class="text-center">Let's be a bigger family 😄🎈</p>
                    <div class="row">
                        <div class="col-md-12  mx-0">
                            <div style="margin-left: 30px; margin-right: 30px; margin-bottom: 20px">
                                    {{ form_start(registerForm) }}
                                    <div class="row" >
                                        <div class="col">
                                            {{ form_row(registerForm.firstname, {
                                                label: 'First Name'
                                            }) }}
                                        </div>
                                        <div class="col">
                                            {{ form_row(registerForm.lastname, {
                                                label: 'Last Name'
                                            }) }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                                            {{ form_row(registerForm.rawPassword, {
                                                label: 'Password'
                                            }) }}
                                        </div>
                                        <div class="col">
                                            {{ form_row(registerForm.confirmRawPassword, {
                                                label: 'Confirm Password'
                                            }) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ form_row(registerForm.username) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ form_row(registerForm.email) }}
                                        </div>
                                    </div>


                                <div  class="text-center">
                                    <button type="submit" class="btn btn-primary ">Register</button>
                                </div>
                                {{ form_end(registerForm) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------------------------------------------------->

{% endblock %}
